/assigment3/data/
/assigment3/.ipynb_checkpoints/
/assigment2/venv/
/assigment2/data/
/assigment2/.ipynb_checkpoints/
/assigment1/venv/
/assigment1/data/
/assigment1/.ipynb_checkpoints/
/assigment2/zitianwang_Assigment2/
/assigment3/cleaned_taxi_data.parquet
/assigment3/taxi_data.parquet
*.csv
*.parquet
*.ndjson
*.DS_Store
# Do NOT ignore pdf or png files
!*.pdf
!*.png
